.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal {
  width: 408px;
  position: relative;
  height: 584px;
  gap: 16px;
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: rgba(252, 252, 252, 1);

  box-shadow:
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-btn-close {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: rgba(231, 233, 252, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal-btn-close-icon {
  fill: #2e2f42; /* Изначальный цвет крестика */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  display: inline-block;
  width: 360px;
  height: 24px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: rgba(46, 47, 66, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

.modal-form-input {
  width: 100%;
  resize: none;
  display: block;
  min-height: 40px;
  max-width: 360px;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 38px;
  padding-bottom: 8px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms linear;
  outline: none;
}

.comment-input {
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  resize: none;
  display: block;
  max-width: 360px;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms linear;
  outline: none;
}

.comment-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.comment-input:focus,
.comment-input:hover {
  border-color: #4d5ae5;
  outline: none;
}

.modal-form-label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #8e8f99;
}

.checkbox-form-label {
  flex-direction: row;
  margin-top: 8px;
  align-items: center;
  height: 16px;
}

.privacy-statement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-checkbox {
}

.privacy-span {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-decoration-style: solid;
  color: rgba(77, 90, 229, 1);
}

.send-form-btn {
  width: 169px;
  margin-top: 16px;
  height: 56px;
  align-self: center;

  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  border: none;

  transition: background-color 250ms linear;
}

.send-form-btn:focus,
.send-form-btn:hover {
  background-color: #404bbf;
}

.form-icon-container {
  position: absolute;
  width: 18px;
  height: 24px;
  left: 16px;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus .form-icon {
  fill: rgba(77, 90, 229, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus ~ .form-icon-container .form-icon {
  fill: #4d5ae5;
}

.field-input-container {
  position: relative;
}

.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.modal-btn-close {
  background-color: #e7e9fc;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus,
.modal-btn-close:hover {
  background-color: #404bbf;
  border-color: transparent;
}

.privacy-checkbox.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  margin-right: 8px;

  background-color: transparent;
  fill: transparent;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  width: 10px;
  height: 8px;
}

.privacy-checkbox:checked + .custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
  fill: #f4f4fd;
}

.modal-btn-close:hover .modal-btn-close-icon,
.modal-btn-close:focus .modal-btn-close-icon {
  fill: #ffffff;
}
